#~/.config/fish/config.fish 

#env properties
set JAVA_HOME /usr/lib/jvm/java-8-openjdk-amd64
set NVM_DIR /home/syle/.nvm


#prompt
function fish_prompt
     set_color blue
     echo -n (date "+%m/%d %T") ' '
     set_color green
     echo -n (whoami) ' '
     set_color yellow
     echo -n (pwd)
     set_color red
     echo (__fish_git_prompt)
     set_color yellow
     echo -n '>>'
     set_color normal
end


function fish_greeting
	figlet "Welcome Sy!"
end



#alias
function pbcopy
	xclip -selection clipboard
end

function pbpaste
	xclip -selection clipboard -o
end


function br
    echo ""
    clear
    set_color red
    echo "===================+++++============"
    echo ""
    set_color normal
end

function formatClipboardJson
	pbpaste | jq . | pbcopy
end

function formatClipboardJsonPrint
	pbpaste | jq .
end


function startNodeWebKit
	nw .
end


#aura stuffs
function aura_start
	mvn jetty:start -Djetty.port=9090 -Dwebdriver.browser.type=GOOGLECHROME
end

function collab_createReviewHeadHat_Git
	ccollab addgitdiffs new HEAD^
end

function aura_compile_quick
	mvn clean install -DskipUnitTests -DskipJsDoc
end

function nvm
    bass source ~/.nvm/nvm.sh ';' nvm $argv
end


#final touchup
#fish bundle stuffs
fundle plugin 'edc/bass'
fundle plugin 'tuvistavie/fish-fastdir'
fundle init
fundle install > /dev/null


#node js nvm
nvm alias default stable > /dev/null
